<%= render :partial => 'nav' %> <%= current_user.name %>

<h2>My Garage Sales</h2>

<% if @user_sales==[] %>
  <p>You don't have any Garage Sales</p>
<%end%>

<ul>
  <% @user_sales.each do |sale| %>
     <li><%= link_to sale.title %></li>
  <% end %>
</ul>



